
body{
    
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    
        background-color: #000000;
        width: 500px;
        margin: auto;
        padding: 40px;
        border: 3px solid rgb(0, 0, 0);
        align-items: center;
        text-align: left;
    
}

.container2{
    
    background-color: none;
    border: 0px solid rgb(0, 0, 0);
    align-items: center;
    text-align: center;

}

h2{
    text-align: left;
    margin: auto;
    padding: 70px;
}

